@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
}

body {
    background-color: #fff;
}

.tag {
    background-color: #edf6fd;
    padding: 2px 7px;
    border-radius: 3px;
}
.tag:hover {
    background-color: #dcedfa;
}
.tag:before {
    content: "#";
    display: inline-block;
}
